:root {
	--link-color: #5c3da0;
}

a {
	color: var(--link-color);
}

a:hover {
	text-decoration: underline;
}

body {
	background: url('images/seamless-wood-bg.jpg') repeat;
}

#modal {
	max-width: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

[data-word] {
	color: var(--link-color);
}

[data-word]:hover {
	text-decoration: underline;
	cursor: pointer;
}
